@import "@/styles/variables.scss";

.main {
  background-color: $red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


